@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "aAdulsaScript";
  src: url("/font/aAdulsaScript.ttf") format("truetype");
}

body {
  color: white;
  background-color: rgb(22, 1, 1);
}

body.modal-open {
  overflow: hidden;
}

:root {
  --main-content-wrap-width: 430px;
}

.main-content-wrap {
  display: flex;
  width: var(--main-content-wrap-width);
  min-height: 100vh;
}

.post-slide {
  padding-bottom: 2.8rem !important;
}

.clickable {
  cursor: pointer;
}
